*.exe
*.dll
*.user
*.suo
*.ide-shm
*.ide-wal
**/bin
**/obj
**/publish
**/.vs
**/v15

SQL_Network_Analyzer/.vs/SQLNetworkAnalyzer/v15/.suo

*.ide-wal
SQL_Network_Analyzer/.vs/SQLNetworkAnalyzer/v15/.suo
SQL_Network_Analyzer/.vs/SQLNetworkAnalyzer/v15/.suo
SQL_Network_Analyzer/.vs/SQLNetworkAnalyzer/v15/Server/sqlite3/storage.ide-shm
SQL_Network_Analyzer/.vs/SQLNetworkAnalyzer/v15/Server/sqlite3/storage.ide-wal
SQLCheck/.vs/SQLCheck/v15/Server/sqlite3/storage.ide
SQLCheck/.vs/SQLCheck/v15/Server/sqlite3/storage.ide-shm
SQLCheck/.vs/SQLCheck/v15/Server/sqlite3/storage.ide-wal
SQLCheck/.vs/SQLCheck/v15/Server/sqlite3/storage.ide-shm
*.ide-wal
*.ide-shm
SQL_Network_Analyzer/.vs/SQLNetworkAnalyzer/v15/.suo
*.ide
*.ide-shm
*.ide-wal
